<!-- 328/diner/views/home.html -->

<include href="views/header.html">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <body>
    <div class="container">
        <h1>Welcome to The Diner ADMIN View</h1>
        <br>
        <table id="ordersTable">
            <thead>
            <tr>
            <th>Order ID</th>
            <th>Meal</th>
            <th>Food</th>
            <th>Condiments</th>
            <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@orders}}" value="{{ @order }}">
                <tr>
                    <td>{{ @order['order_id'] }}</td>
                    <td>{{ @order['meal'] }}</td>
                    <td>{{@order['food']}}</td>
                    <td>{{@order['condiments']}}</td>
                    <td>{{@order['order_date']}}</td>
                </tr>

            </repeat>
            </tbody>

        </table>

        <a type="button" class="btn btn-primary" href="order1">Place an Order</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $('#ordersTable').DataTable();
    </script>
    </body>
    </html>